@using System.Diagnostics
@model ManageCustomerViewModel

<div class="border border-6 bg-secondary border-primary rounded-3 p-1">

    <div class="row gx-5">
        <div>
            @* Contain box *@
            <div class="bg-dark text-light"> <b>&nbsp;Info för vald Båt:</b> </div>
        </div> @* End Contain box*@
        <div class="fixedcolboatinfolabels">
            Namn:  <br />
            Längd(m): <br />
            Bredd(m): <br />
            Djup(m): <br />
            Vikt(kg): <br />
        </div>

        <div class="col">
            @if (@Model.BoatData.BrandModel != null)
            {
                <b id="selectedboatlabel">@Model.BoatData.Label.</b> <br />
                <b id="selectedboatlength">@Model.BoatData.Length</b> <br />
                <b id="selectedboatwidth">@Model.BoatData.Width</b> <br />
                <b id="selectedboatdepth">@Model.BoatData.Depth</b> <br />
                <b id="selectedboatweight">@Model.BoatData.Weight</b> <br />
            }
            else
            {
                <b id="selectedboatlabel">-</b> <br />
                <b id="selectedboatlength">-</b> <br />
                <b id="selectedboatwidth">-</b> <br />
                <b id="selectedboatdepth">-</b> <br />
                <b id="selectedboatweight">-</b> <br />
            }

        </div>


    </div> @* End Row *@

</div> @* End BorderDiv *@

<br />
<div class="border border-6 bg-secondary border-primary rounded-3 p-1">
    <div class="row gx-5">
        <div>
            @* Contain box *@
            <div class="bg-dark text-light"> <b>&nbsp;Valda båtens Båtplats:</b> </div>

            @{
                string boatsliplabel = "-", pierlabel = "-";
            }

            @if (@Model.BoatData.Boatslip != null)
            {
                boatsliplabel = @Model.BoatData.Boatslip.Label +
                " - Mått: L: " + @Model.BoatData.Boatslip.Length + " B: " +
                @Model.BoatData.Boatslip.Width + " D: " + @Model.BoatData.Boatslip.Depth;
                pierlabel = @Model.BoatData.Boatslip.Pier.Label;
            }

            <div>
                <b>Plats/Nr: </b>@boatsliplabel
                <br />
                <b>Brygga: </b>@pierlabel
                <br />
                @if (@Model.BoatData.Boatslip != null)
                {
                    @*            <div id="deletepierbuttonforboat">*@
                    <form asp-action="RemoveBoatslipForSelectedBoat" asp-route-id="@Model.BoatData.Id"
                      method="post" role="form"
                      onclick="return confirm('Är du säker på att du vill ta bort båtplats för denna båt?')">

                        @Html.AntiForgeryToken()
                        <input type="submit" id="optionBtnRed" value="Ta Bort">
                    </form>
                    @*            </div>*@
                }

            </div>

        </div> @* End Contain box*@

    </div> @* End Row*@

</div> @* End BorderDiv *@

<br />

<div class="border border-6 bg-secondary border-primary rounded-3 p-1">

    <div class="row">

        <div> @* Contain box *@

            <div class="bg-dark text-light"> <b>&nbsp;Tilldela/Byta Båtplats: </b> </div>

            @*Debug.WriteLine(JsonConvert.SerializeObject(@Model.FreeBoatslips));*@

            @if (@Model.SelectedBoatDataId > 0 && @Model.FreeBoatslips != null)
            {
                @*Model.SelectedBoatFormId = Model.SelectedBoatDataId;*@
                <form asp-controller="Admin" asp-action="ManageCustomerSaveAssignedBoatslip" method="post" role="form">

                    <select asp-for="SelectedBoatslipId">
                        <option value="0" disabled selected>Välj en Ledig BåtPlats</option>

                        @foreach (Boatslip freeboatslip in Model.FreeBoatslips)
                        {
                            <option value="@freeboatslip.Id">NR: @freeboatslip.Label - Mått: 
                                L: @freeboatslip.Length B: @freeboatslip.Width
                                D: @freeboatslip.Depth - @freeboatslip.Pier.Label</option>
                        }
                    </select>
                    <input asp-for="SelectedBoatDataId" hidden />

                    <br />

                    <br />
                    <div>
                        <input type="submit" id="optionBtnGreen" value="Tilldela Vald Båtplats">
                    </div>

                </form>
            }

        </div> @* End Contain box*@
        <br />
    </div> @* End Row*@

</div> @* End BorderDiv *@



