@model BoatslipViewModel

<partial name="_HarbourTopMenu" />

<div id="adminboatslip">
    <h4>Hantera Båtplatser</h4>
    <br />    

<div class="table-container">
    <div class="row bg-dark text-light">
        <div class="col-1">Databas_Id</div>
        <div class="col-3">Namn</div>
        <div class="col-3">Info</div>
        <div class="col-3">Hamn</div>
        <div class="col-2">Alternativ</div>
    </div>

        @if (Model.BoatslipListView != null)
        {
            @foreach (Boatslip boatslip in Model.BoatslipListView)
            {
                <div class="row" id="viewlisttable">
                    <div class="col-1">@boatslip.Id</div>
                    <div class="col-3">@boatslip.Label</div>
                    <div class="col-3">
                        Längd: @boatslip.Lenght
                        <br/>
                        Bredd: @boatslip.Width
                        <br/>
                        Djup: @boatslip.Depth
                        <br/>
                        Förtöjnings: @boatslip.MooringType
                        </div>
                    <div class="col-3">
                        @if (boatslip.Pier != null)
                        {
                            @boatslip.Pier.Label
                        }
                    </div>
                    <div class="col-2" id="btnBorderBox">

                        <div class="form-sidebyside"> @* Container for buttons *@
                            <div class="row">

                        <div class="col">
                            <form asp-action="EditBoatslip" asp-route-id="@boatslip.Id" method="post" role="form">
                                @Html.AntiForgeryToken()
                                <input type="submit" id="optionBtnGreen" value="Editera">
                            </form>
                        </div>

                        @if (User.IsInRole("SuperAdmin"))
                         {
                        <div class="col">
                            <form asp-action="DeleteBoatslip" asp-route-id="@boatslip.Id" method="post" role="form" onclick="return confirm('Är du säker på att du vill radera denna Båtplats?')">
                                @Html.AntiForgeryToken()
                                <input type="submit" id="optionBtnRed" value="Radera">
                            </form>
                        </div>
                         }

                            </div> @* ROW *@
                        </div> @* Container for buttons *@

                        <div class="form-sidebyside-floatclear"></div>
                    </div> @* BorderButton Box *@

                </div> @* viewTabel *@
            }

        }

</div>


</div>
                
