@model CreateHarbourViewModel

<div>
    <h4>Editera Hamn</h4>

@{ 
    if (ViewBag.Mess != null)
    {
        <script type="text/javascript">
        cuteToast({
                type: "@TempData["ToastType"]",
                title: "Info",
                message: "@ViewBag.Mess",
                timer: 5000,
            });
        </Script>
    }
}

 <div>

                <form class="createeditforms" asp-action="EditHarbourSave" method="post" role="form">
                    <fieldset id="fieldsetbox">
                    <legend id="legbox">Editera Hamn</legend>
                    @Html.AntiForgeryToken()

                    <input asp-for="Id" hidden />
                    <label asp-for="Label"></label>
                    <br />
                    <input asp-for="Label" required />
                    <br />
                    <br />
                    <label asp-for="Info"></label>
                    <br />
                    <textarea asp-for="Info" required></textarea>
@*                    <br />
                    <label asp-for="MapURL"></label>
                    <br />
                    <input asp-for="MapURL" />*@
                    <br />
                    <br />
                    <input type="submit" class="btn btn-primary btnWidthSeparate" name="btnFilter" value="Spara" />
                    <input type="button" class="btn btn-secondary btnWidthSeparate" name="btnBack" value="Tillbaka" onClick="location.href='@Url.Action("Harbour", "Admin")'" />
                    
                    </fieldset>
                </form>
                @*<p>@Model.SearchResultEmpty</p>*@

        </div>

</div>
                
