@model HarbourViewModel

@*@inject SignInManager<IdentityAppUser> SignInManager
@inject UserManager<IdentityAppUser> UserManager*@

<partial name="_HarbourTopMenu" />

<div id="adminharbours">
    <h4>Hantera Hamnar</h4>
    <br />

    @if (ViewBag.Mess != null)
    {
        <script type="text/javascript">

        cuteToast({
                type: "@TempData["ToastType"]",
                title: "Info",
                message: "@ViewBag.Mess",
                timer: 5000,
            });

        // Detta Funkar :)  document.getElementById('testajsid').innerHTML = 'En text som test för js function call';
        </Script>
    }


<div class="table-container">
    <div class="row bg-dark text-light">
        <div class="col-1">Databas_Id</div>
        <div class="col-4">Namn</div>
        <div class="col-5">Info</div>
@*        <div class="col-2">City</div>
        <div class="col-2">Country</div>*@
        <div class="col-2">Alternativ</div>
    </div>
    @if (Model.HarbourListView != null)
        {
            @foreach (Harbour harbour in Model.HarbourListView)
            {
                <div class="row" id="viewlisttable">
                    <div class="col-1">@harbour.Id</div>
                    <div class="col-4">@harbour.Label</div>
                    <div class="col-5">@harbour.Info</div>
                    <div class="col-2" id="btnBorderBox">

@*                        <form class="buttonSeparate" asp-action="AddPierView" asp-route-id="@harbour.Id" method="post" role="form" >
                            @Html.AntiForgeryToken()
                            <input type="submit" id="optionBtnGreen" value="Bryggor">  
                        </form>*@
                        <div class="form-sidebyside"> @* Container for buttons *@
                            <div class="row">

                        <div class="col">
                            <form asp-action="EditHarbour" asp-route-id="@harbour.Id" method="post" role="form" >
                                @Html.AntiForgeryToken()
                                <input type="submit" id="optionBtnGreen" value="Editera">
                            </form>
                        </div>

                        @if (User.IsInRole("SuperAdmin"))
                         {
                        <div class="col">
                            <form asp-action="DeleteHarbour" asp-route-id="@harbour.Id" method="post" role="form" onclick="return confirm('Är du säker på att du vill radera denna Hamn?')">
                                @Html.AntiForgeryToken()
                                <input type="submit" id="optionBtnRed" value="Radera">
                            </form>
                        </div>
                         }

                            </div> @* ROW *@
                        </div> @* Container for buttons *@

                        <div class="form-sidebyside-floatclear"></div>
                    </div> @* BorderButton Box *@

                </div> @* viewTabel *@
            }

        }


</div>
   
</div>
                
