@using System.Globalization
@model FrontendViewModel

@*@using Microsoft.AspNetCore.Identity*@
@*@inject SignInManager<IdentityAppUser> SignInManager
@inject UserManager<IdentityAppUser> UserManager*@


<div>
    <h4>Välkommen till din sida</h4>

    <br />
    <br />
    <div>
        @if (@Model.ListUserBoatslip != null)
        { <p>Antal Båtplatser: @Model.ListUserBoatslip.Count</p> }
        else
        { <p>Antal Båtplatser: 0</p> }


        @if (@Model.ListUserBoatslip != null)
        {
            <div>
            @foreach (Boatslip boatslip in Model.ListUserBoatslip)
            {
                <p>Båtplats:  @boatslip.Label , Brygga: @boatslip.Pier.Label
                        @if (@boatslip.ServiceType != null) { <a> , Pris: @boatslip.ServiceType.Price</a> }</p>
                }
            </div>
        }

        <br />

        @if (@Model.ListUserWinterstoreSpot != null)
        {
            <div>
            <p>Antal Vinterplatser: @Model.ListUserWinterstoreSpot.Count</p>

            @foreach (WinterstoreSpot winterstoreSpot in Model.ListUserWinterstoreSpot)
            {
                <p>VinterförvaringsPlats:  @winterstoreSpot.Label ,
                        @{
                            decimal winterstoreSpotm2 = winterstoreSpot.Length * winterstoreSpot.Width;
                            decimal serviceCostAndm2 = winterstoreSpotm2 * winterstoreSpot.ServiceType.Price;
                        }
                        Pris/Säsong: @serviceCostAndm2.ToString("F", CultureInfo.InvariantCulture);
                </p>
            }
            </div>
        }
        else
        { <p>Antal Vinterplatser: 0</p> }

    </div>

</div>
                
